{% extends 'base.html' %}

{% block content %}

<section class="booking">

<div class="booking-content">
<h1>Book Your Dream Trip</h1>

<form action="{% url 'book_package' %}" method="POST">
{% csrf_token %}

<input type="text" name="name" placeholder="Your Name" required>

<input type="email" name="email" placeholder="Your Email" required>

<input type="text" name="phone" placeholder="Phone Number" required>

<select name="package" required>
<option value="">Select Package</option>
<option value="Ladakh">Ladakh</option>
<option value="Lakshwadeep">Lakshwadeep</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Rameshwaram">Rameshwaram</option>
</select>

<input type="date" name="date" required>

<button type="submit">Book Now</button>

</form>
</div>
</section>

{% endblock %}
