{% extends "base.html" %}

{% block content %}

<section class="reviews-section">

<h2 class="review-title">Traveler Reviews</h2>

<div class="slider">

<div class="slides">

<!-- Review 1 -->
<div class="review-card">
<img src="https://randomuser.me/api/portraits/women/65.jpg">
<p>"Amazing experience! The Ladakh trip was perfectly organized."</p>
<h3>⭐ ⭐ ⭐ ⭐ ⭐</h3>
<span>Sanju – Ladakh Trip</span>
</div>

<!-- Review 2 -->
<div class="review-card">
<img src="https://randomuser.me/api/portraits/men/32.jpg">
<p>"Lakshwadeep package was wonderful. Beautiful hotels and service."</p>
<h3>⭐ ⭐ ⭐ ⭐ ⭐</h3>
<span>Tarun – Lakshwadeep Tour</span>
</div>

<!-- Review 3 -->
<div class="review-card">
<img src="https://randomuser.me/api/portraits/women/44.jpg">
<p>"Wonderful culture and history."</p>
<h3>⭐ ⭐ ⭐ ⭐ ⭐</h3>
<span>Kavana – Rajasthan Tour</span>
</div>

<!-- Review 4 -->
<div class="review-card">
<img src="https://randomuser.me/api/portraits/men/55.jpg">
<p>"Loved the Scenery and atmosphere."</p>
<h3>⭐ ⭐ ⭐ ⭐ ⭐</h3>
<span>Rahul – Lakshwadeep Trip</span>
</div>

<!-- Review 5 -->
<div class="review-card">
<img src="https://randomuser.me/api/portraits/women/50.jpg">
<p>"A great spiritual experience."</p>
<div class="stars">⭐ ⭐ ⭐ ⭐ ⭐</div>
<span>Priya Sharma – Rameshwaram Package</span>
</div>


</div>

</div>

</section>

<script>

let index = 0;

function slideReviews(){

const slider = document.querySelector(".slides");
const cards = document.querySelectorAll(".review-card");

index++;

if(index > cards.length - 3){
index = 0;
}

slider.style.transform = "translateX(-"+ index*320 +"px)";

}

setInterval(slideReviews,3000);

</script>

{% endblock %}
